<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-5">
      <h2>Settings:</h2>
      <form [formGroup]="form">
        <div class="form-group">
          <label for="domain">Domain</label>
          <input type="text" class="form-control" id="domain" formControlName="domain">
        </div>
        <div class="form-group">
          <div class="form-check float-right">
            <input type="checkbox" class="form-check-input" id="autoppend" [checked]="autoAppend" (change)="checked($event)">
            <label class="form-check-label" for="autoappend">Append /public to symlink</label>
          </div>
          <label for="symlink">root (symlink)</label>
          <input type="text" class="form-control" id="symlink" formControlName="symlink">
        </div>
        <div class="form-group">
          <label for="root">source</label>
          <input type="text" class="form-control" id="root" formControlName="root">
        </div>
        <div class="form-group">
          <label for="apache">config location</label>
          <input type="text" class="form-control" id="apache" formControlName="apache">
        </div>
      </form>
    </div>

    <div class="col-7">
      <h2>Hosts update:</h2>
      <pre>{{ this.hostFile }}</pre>
      <h2>symlink:</h2>
      <pre>{{ this.symlink }}</pre>
      <h2>enable config:</h2>
      <pre>{{ this.enableConfig }}</pre>
      <pre #codeEl class="col-12">
      </pre>
    </div>
  </div>
</div>
