@import "~pattern.css/pattern";

* {
  color: black;
}

body {
  overflow-x: hidden;
  > div {
    width: 100vw;
    min-height: 100vh;
    padding: 50px 0;

    &.front {
      color: #e7393f;
    }
    &.bg {
      background-color: #ff8710;
    }
  }
}
