@import "~pattern.css/pattern";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*, pre {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

body {
  overflow-x: hidden;

  > div {
    width: 100vw;
    min-height: 100vh;
    padding: 5px 0;

    &.front {
      color: #e7393f;
    }
    &.bg {
      background-color: #ff8710;
    }
  }
}
